---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<div class="container flex w-full items-center justify-center pt-10">
		<h1 class=" text-2xl self-start font-bold">Szukana strona nie została znaleziona</h1>
	</div>
</MainLayout>
