---

import MainLayout from "../layouts/MainLayout.astro";
import { MyOffer } from '../components/MyOffer.tsx'
import { PriceList } from '../components/PriceList.tsx'
import LogoIMG from '../images/logo2.jpeg'
import Image from "astro/components/Image.astro";
import { AboutMe } from "../components/AboutMe";


---

<MainLayout pageTitle="Estetic Hair Studio Biłgoraj" pageDescription="Estetic Hair Studio Biłgoraj - usługi fryzjerskie, salon fryzjerski">
	<div class="w-full h-full">
		<Image src={LogoIMG} alt="" class={'w-full block h-[700px] object-cover'} />
	</div>

	<AboutMe />
	
	<MyOffer />
	
	<PriceList />
</MainLayout>

<!-- widths={[360, 720, 1600, LogoIMG.width]} -->
<!-- sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1600px) 1600px, ${LogoIMG.width}px`} -->