---

import MainLayout from "../layouts/MainLayout.astro";
import { AboutMe } from '../components/AboutMe.tsx'
import { MyOffer } from '../components/MyOffer.tsx'
import { PriceList } from '../components/PriceList.tsx'
import LogoIMG from '../images/logo2.jpeg'
import Image from "astro/components/Image.astro";


---

<MainLayout>
	<div class="w-full h-full">
		<Image src={LogoIMG} alt="Logo" class={'w-full block h-[700px] object-cover'} />
	</div>

	<MyOffer />

	<PriceList />
</MainLayout>
