---
import { SiteHeader } from './components/SiteHeader.tsx'

const { pageTitle } = Astro.props;

---

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{pageTitle}</title>

  </head>
  <body>
    <SiteHeader client:load  />
    <main class="min-h-full min-w-full overflow-x-clip px-8 py-12 md:py-16">
        <slot />
    </main>
  </body>
</html>