---
import { SiteHeader } from './components/SiteHeader.tsx'

const { pageTitle } = Astro.props;

---

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{pageTitle}</title>

  </head>
  <body>
    <SiteHeader client:load  />
    <!-- <main class="min-h-full flex items-center flex-col w-full gap-y-10 px-8 pb-12 md:pb-16"> -->
      <main>
        <slot />
      </main>
    <!-- </main> -->
  </body>
</html>